templates/step-function-definition.json.tftpl
{
  "Comment": "TRE Validate BagIt Flow",
  "StartAt": "Is Validation Required?",
  "States": {
    "Is Validation Required?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.parameters.consignmentType",
          "StringEquals": "STANDARD",
          "Next": "Validation Not Required"
        }
      ],
      "Default": "Files Checksum Validation"
    },
    "Files Checksum Validation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${arn_lambda_vb_files_checksum_validation}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Files Checksum Validation Output Handler",
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "ResultPath": "$.errorInfo",
          "Next": "Publish TRE Error"
        }
      ]
    },
    "Publish TRE Error": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${arn_sns_topic_tre_slack_alerts}",
        "Message": {
          "properties": {
            "messageType": "uk.gov.nationalarchives.tre.messages.treerror.TreError",
            "function": "tre-validate-bagit",
            "producer": "TRE",
            "executionId.$": "$$.Execution.Name",
            "parentExecutionId": null,
            "timestamp.$": "$$.State.EnteredTime"
          },
          "parameters": {
            "status": "TRE_ERROR",
            "originator": "TDR",
            "reference.$": "$.parameters.reference",
            "errors.$": "$.errorInfo"
          }
        }
      },
      "Next": "Files Checksum Validation Failed"
    },
    "Files Checksum Validation Output Handler": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.properties.messageType",
          "StringEquals": "uk.gov.nationalarchives.tre.messages.bag.validate.BagValidate",
          "Comment": "bagit-validated",
          "Next": "SNS Notification Topic"
        },
        {
          "Variable": "$.properties.messageType",
          "StringEquals": "uk.gov.nationalarchives.tre.messages.treerror.TreError",
          "Next": "SNS Notification Topic",
          "Comment": "bagit-validation-error"
        }
      ],
      "Default": "Files Unhandled Event -> Slack"
    },
    "Files Unhandled Event -> Slack": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${arn_sns_topic_tre_slack_alerts}",
        "Message": {
          "Execution.$": "$$.Execution.Name",
          "StateMachine.$": "$$.StateMachine.Name",
          "Status": "error",
          "ErrorMessage.$": "$.properties.function",
          "Event": "Invalid event-name (Files)"
        }
      },
      "Next": "Files Checksum Unhandled Event"
    },
    "Files Checksum Unhandled Event": {
      "Type": "Fail"
    },
    "SNS Notification Topic": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "${arn_sns_topic_validate_bagit_out}"
      },
      "Next": "Choice",
      "ResultPath": null
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.properties.messageType",
          "StringEquals": "uk.gov.nationalarchives.tre.messages.bag.validate.BagValidate",
          "Comment": "bagit-validated",
          "Next": "bagit-validated"
        },
        {
          "Variable": "$.properties.messageType",
          "StringEquals": "uk.gov.nationalarchives.tre.messages.treerror.TreError",
          "Comment": "bagit-validation-error",
          "Next": "bagit-validation-error"
        }
      ],
      "Default": "Unhandled Event -> Slack"
    },
    "bagit-validation-error": {
      "Type": "Succeed"
    },
    "bagit-validated": {
      "Type": "Succeed"
    },
    "Unhandled Event -> Slack": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${arn_sns_topic_tre_slack_alerts}",
        "Message": {
          "Execution.$": "$$.Execution.Name",
          "StateMachine.$": "$$.StateMachine.Name",
          "Status": "error",
          "ErrorMessage.$": "$.properties.function",
          "Event": "Invalid event-name (SNS Notification Topic)"
        }
      },
      "Next": "Unhandled Event"
    },
    "Unhandled Event": {
      "Type": "Fail"
    },
    "Files Checksum Validation Failed": {
      "Type": "Fail"
    },
    "Validation Not Required": {
      "Type": "Succeed"
    }
  }
}
